{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Qyavari Bariqner</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <div class="nav">

            <a href="{% url 'home' %}"><img src="https://i.ibb.co/KKphY1Q/QYAVARI-BARIQNER.png"></a>

            <div class="nav-links">
                {% if user.is_authenticated %}
                <a href="{% url 'cart_detail' %}" class="nav-btn">Cart</a>
                <a href="{% url 'logout' %}" class="nav-btn">Logout</a>
                <a href="{% url 'user_profile' user.id %}" class="nav-btn">Profile</a>
                {% else %}
                <a href="{% url 'login' %}" class="nav-btn">Login</a>
                <a href="{% url 'register' %}" class="nav-btn" id="reg-btn">Register</a>
                {% endif %}
            </div>
            
        </div>
        <h1>Traditional Handmade Products from Gavar, Armenia</h1>
    </header>
    <div class="container">
        {% for prod in product %}
        <div class="product">
            <h2>{{ prod.name }}</h2>
            <a href="{% url 'prod_details' prod.id %}">
                <img src="{{ prod.image.url }}" alt="{{ prod.name }}">
            </a>
            <p>Price: {{ prod.price }} ֏</p>
            {%if not user.is_authenticated%}
            <a href="{% url 'register' %}" class="fas fa-shopping-cart" id="product-btn"></a>
            
            {%else%}
            <form method="POST" action="{% url 'add_to_cart' prod.id %}">
                {% csrf_token %}
                <input type="number" name="quantity" value="1" min="1" class="quantity-input">
                <button type="submit" class="add-to-cart-button" title="Add to Cart">
                    <i class="fas fa-shopping-cart"></i> <!-- Иконка корзины FontAwesome -->
                </button>
            {%endif%}
                
            </form>
        </div>
        {% endfor %}
    </div>
    <footer>
        <p>&copy; 2024 Qyavari Bariqner. All rights reserved.</p>
    </footer>
</body>
</html>
