<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Login</title>
</head>
<body>
    <h2>Manager Login</h2>
    
    <!-- Обработка сообщений об ошибках и успешных действиях -->
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="alert {{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
</body>
</html>
